<!DOCTYPE html>
<html>
    <head>
        <title>{{pageTitle}}</title>
    </head>
    <body>
         {{> header}}
        <h2>{{upperCase welcomeMessage}}</h2>
        {{> footer}}
        
</body>

</html>