<!DOCTYPE html>
<html>
    <head>
        <title>in progress</title>
    </head>
    <body>
        <h1>Site is in maintanance</h1>
        <p>we are working on bug fixes will be back soon</p>
    </body>
</html>